<!-- Footer -->
<div id="footer">
    <!-- Grid container -->
    <div class="container p-4">

        <!-- Section: Social media -->
        <section class="mb-4">
            <!-- Linkedin -->
            <a class="btn btn-primary btn-floating m-1" href="#!" role="button"><i class="fab fa-linkedin-in"></i></a>
            <!-- Github -->
            <a class="btn btn-primary btn-floating m-1" href="#!" role="button"><i class="fab fa-github"></i></a>
        </section>
        <!-- Section: Social media -->




    </div>
    <!-- Grid container -->
    <!-- Copyright -->
    <div class="text-center">
        © 2022 Copyright:
        <a class="text-dark" href="{{ url_for('home') }}">Website.com</a>
    </div>
    <!-- Copyright -->

</div>
<!-- Footer -->