{% extends '_layout.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}

<div class="hero-image">
    <div class="hero-text">
        <h1 class="hero-header">bloom</h1>
        <p>inner and outer self-care</p>
    </div>
</div>

<div class="container-crop">
    <div id="itemContainer">
        <ol id="itemListMovies">
            {% for movie in result %}
            <li id="" class="list-item flex row">
                <div class="flex column">
                    <div class="flex row">
                        <img class="movie-img" src="{{ url_for('static', filename='images/' + ('default.png')) }}" alt="">
                        <div>
                            <h2>
                                <a href="/movies" title="View detailed information on {{ movie.title }} ({{ movie.year_released }})">{{ movie.title }}</a>
                                <a title="Movie released in {{ movie.year_released }}">({{ movie.year_released }})</a>
                            </h2>
                            <h3>
                                Genre {{ movie.genre }}
                            </h3>
                        </div>
                    </div>

                    <p class="movie-desc">
                        {{ movie.summary }}
                    </p>
                </div>

                <ul class="optionIconMenu flex row lastflex">
                    {% if session['role'] == 'admin' %}
                    <li>
                        <a href="/editmovie?id={{ movie.id }}">Edit</a>
                    </li>

                    <li>
                        <a href="/deletemovie?id={{ movie.id }}" onclick="return confirm('Are you sure? you want to delete {{movie.title }} ({{ movie.year_released }})')">Delete</a>
                    </li>
                    {% endif %}
                    <li>
                        <a href="{{ url_for('view_user', user_id=session.id, movie_id=movie.id) }}" class="checkbox" title="Watch {{ movie.title }}">Watch</a>
                    </li>
                </ul>

            </li>
            {% endfor %}
        </ol>
    </div>
</div>

<table class="flat-table">
    <tr>
        <th>Title</th>
        <th>Genre</th>
        <th>Year Released</th>
        <th>Summary</th>
        <th>Actions</th>
    </tr>
    {% for row in result %}
    <tr>
        <td>{{ row.title }}</td>
        <td>{{ row.genre }}</td>
        <td>{{ row.year_released }}</td>
        <td>{{ row.summary }}</td>
        <td>
            <a href="/viewmovie?id={{ row.id }}">View</a>
            <a href="/editmovie?id={{ row.id }}">Edit</a>
            <a href="/watchmovie?user_id={{ session.id }}&movie_id={{ row.id }}">Watch</a>
            <a href="/deletemovie?id={{ row.id }}" onclick="return confirm('Are you sure? you want to delete {{row.first_mame }} {{ row.last_name }}')">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>
<a href="{{ url_for('add_movie') }}">Add a new movie</a>
{% endblock %}
