{% extends '_layout.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}

<div class="hero-image">
    <div class="hero-text">
        <h1 class="hero-header">bloom</h1>
        <p>inner and outer self-care</p>
    </div>
</div>

<div class="container-crop">
    <div id="itemContainer">
        <ol id="itemListMovies">
            {% for movie in result %}
            <li id="" class="list-item">

                <img class="movie-img" src="{{ url_for('static', filename='images/' + ('default.png')) }}" alt="">

                <h2>
                    <a href="/movies/78slash52/" title="View detailed information on {{ movie.title }} ({{ movie.year_released }})">{{ movie.title }}</a>
                    <a title="Movie released in {{ movie.year_released }}">({{ movie.year_released }})</a>               
                </h2>

                <a href="/login/" class="checkbox" title="Watch {{ movie.title }}"><span>Watch</span></a>
                <p>
                    Genre {{ movie.genre }}
                </p>
                <p class="movie-desc">
                    {{ movie.summary }}
                </p>
                
            </li>
            {% endfor %}
        </ol>
    </div>
</div>

<table class="flat-table">
    <tr>
        <th>Title</th>
        <th>Genre</th>
        <th>Year Released</th>
        <th>Summary</th>
        <th>Actions</th>
    </tr>
    {% for row in result %}
    <tr>
        <td>{{ row.title }}</td>
        <td>{{ row.genre }}</td>
        <td>{{ row.year_released }}</td>
        <td>{{ row.summary }}</td>
        <td>
            <a href="/view?id={{ row.id }}">View</a>
            <a href="/edit?id={{ row.id }}">Edit</a>
            <a href="/watchmovie?user_id={{ session.id }}&movie_id={{ row.id }}">Watch</a>
            <a href="/delete?id={{ row.id }}" onclick="return confirm('Are you sure? you want to delete {{row.first_mame }} {{ row.last_name }}')">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>
<a href="{{ url_for('add_movie') }}">Add a new movie</a>
{% endblock %}
