{% extends '_layout.html' %}

{% block title %}View profile{% endblock %}

{% block content %}

<form method="post" class="flex column" enctype="multipart/form-data">
    <h3>Login</h3>

    <label for="email">Email</label>
    <input id="email" placeholder="Email" name="email" autocomplete="off" type="email" required>


    <label for="password">Password</label>
    <input id="password" placeholder="Password" name="password" autocomplete="off" type="password" required>

    <input type="submit" value="Login">
</form>
    {% endblock %}
 