{% extends '_layout.html' %}

{% block title %}View profile{% endblock %}

{% block content %}
<header class="flex column">

    

    <div class="profile-top flex row">

        <img class="profile-img" src="{{ url_for('static', filename='images/' + (result.avatar or 'default.png')) }}" alt="">

        <div class="profile-title">
            <h1 class="">{{ result.first_name }} {{ result.last_name }}</h1>
            <h2 class=""><a href="mailto:{{ result.email }}">{{ result.email }}</a></h2>

            <div>
                <a class="btn" href="{{ url_for('list_users') }}">Back to dashboard</a>
                <a class="btn profile-edit-btn" href="/edit?id={{ result.id }}">Edit Profile</a>
                <a class="btn profile-delete-btn" href="/delete?id={{ result.id }}" onclick="return confirm('Are you sure? you want to delete {{result.first_mame }} {{ result.last_name }}')">Delete</a>
            </div>


        </div>
    </div>

    <div class="profile-stats">
        <ul>
            <li><span class="profile-stat-count">164</span> posts</li>
            <li><span class="profile-stat-count">188</span> followers</li>
            <li><span class="profile-stat-count">206</span> following</li>
        </ul>
    </div>

    <div class="profile-bio">
        <p><span class="profile-real-name">Jane Doe</span> Lorem ipsum dolor sit, amet consectetur adipisicing elit 📷✈️🏕️</p>
    </div>
</header>
{% endblock %}